<div class="grid_4 alpha">
  <%= sort_link search, :created_on_twitter %>
</div>

<div class="grid_3">
  <%= sort_link search, :from_user %>
</div>

<div class="grid_12">
  <%= sort_link search, :text %>
</div>

<div class="grid_2 omega">
  Destroy
</div>
<div class="clear"></div>
