<%= content_tag(:li, quote) do %>
  <blockquote>
    <%= auto_link(simple_format(h(quote.text)), :html => {:class => 'auto-link', :target => :_blank } ) %>
  </blockquote>
  <p>
    <%= image_tag quote.profile_image_url %>
    <%= quote.from_user %>
  </p>
<% end %>
