<div class="grid_4 small-movie">
  <div class="poster">
    <%= link_to image_tag(movie.vertical.thumb.url.to_s), movie %>
  </div>

  <div class="rating-pod">
    <div class="percentage-widget">
      <%= formatted_score(movie) %>
    </div>
    <div class="votes"><%= movie.tweets.assesed.count %> tweets</div>
  </div>
  <%= link_to movie.name, movie, :class => 'title' %>
</div>
