<div class="container_24">
  <div class="grid_24">
    <%= render :partial => "movies/admin/header", :locals => { :search => @search } %>
    <%= render :partial => "movies/admin/search", :locals => { :search => @search } %>
    <%= render :partial => "movies/admin/form", :locals => { :movie => @movie, :tweets => @tweets } %>
  </div>
</div>
