<div class="main-header-wrapper">
  <div class="content header">
    <h1><%= link_to 'Review Umpire', "/", :class => 'logo' %></h1>
  </div>
</div>

<div class="sub-header-wrapper">
  <div class="content header">
    <h1><%= content_for :subheader %></h1>
  </div>
</div>
