/* content */

.content {
  width: 940px;
  margin: 0 auto;
}

$subheading-color: green;
$heading-color: #111111;
$heading-font: 'Ubuntu';
$subheading-font: 'Play';
$poster-background: #000000;
$headers-color: #fff;
$black: black;
$light-white: #666666;

a {
  text-decoration: none;
}

/* header */
.main-header-wrapper, .sub-header-wrapper {
  height: 40px;
  min-width: 960px;
  color: $headers-color;
  .header {
    line-height: 40px;
    a {
      color: $headers-color;
      }
  }
}

.main-header-wrapper {
  background-color: $heading-color;
  h1 {
    font-family: $heading-font, arial, serif;
    font-size: 32px;
    font-weight: bold;
  }
}

.sub-header-wrapper {
  background-color: $subheading-color;
  img {
    float: left;
  }
  h1 {
    font-family: $subheading-font, arial, serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.score-board{
  line-height: 40px;
  font-family: $subheading-font, arial, serif;
  color: #FFFFFF;
}


.voters {
  font-size: 13px;
  font-style: italic;
  margin-left: 10px;
  vertical-align: top;
  color: $light-white;
}

#poster-area {
  padding-top: 10px;
  background-color: $poster-background;
  color: $headers-color;
  .details{
    border-bottom: 1px solid #333333;
    p {
      font-family: $subheading-font, arial, serif;
      margin-bottom: 10px;
      span {
        font-weight: italic;
        color: $light-white;
        padding-right: 10px;
          }
      }
  }
  .percentage {
    font-weight: bold;
    font-size: 64px;
  }

  .percentage-sign {
    font-weight: normal;
    font-size: 32px;
    vertical-align: top;
  }
}

ul#quotes {
  cursor: pointer;
  list-style: none outside none;
  width: 350px;
  min-height: 180px;
  font-family: $heading-font, arial, serif;
  font-weight: bold;
  margin-top: 20px;
  li {
    font-size: 16px;
    blockquote p {
      padding-bottom: 5px;
    }
    p {
      margin-bottom: 0px;
      img {
        margin-right: 10px;
       }
    }
    cite {
      margin: -35px 0 0 20px;
    }
 }
}
