$positive-image : "/images/used/positive.png";
$negative-image : "/images/used/negative.png";
$love-image     : "/images/used/icon-love-small.png";
$hate-image     : "/images/used/icon-hate-small.png";
$bubble-image   : "/images/used/bubble1.png";

.clearfix {
    clear: both;
}

a { text-decoration: none; }
.main-wrapper {
  @include grid-container;
  #header,
  #footer,
  #content {
    @include grid-unit-base; }
  #header, #footer {
    @include grid-width(12); }
  #content {
    @include grid-width(12); }

    .movie-information {
        background-color: #FBFBFB;
        border-bottom: 1px solid #D5D3BE;
        border-top: 1px solid #D5D3BE;
        font-size: 16px;
        min-width: 960px;
        padding: 15px 0;
        position: relative;
        .content {
             margin: 0 auto;
             width: 940px;
             h2 {
                 font-size: 22px;
                 font-weight: normal;
                 line-height: 12px; 
                 a{
                    color: #000000;
                 }
            }
        }
    }

    .one-column {
        overflow: hidden;
        @include grid-width(12);
        .movie {
            float: left;
            @include grid-width(2);
            .poster{
                border: 1px solid #D0D0C5;
                img {
                    display: block;
                    width: 138px;
                    @include grid-width(2);
                }
            }
            .twitter-info {
                background-color: #333333;
                border-radius: 0 0 6px 6px;
                color: #CCCCCC;
                margin: 1px;
                overflow: hidden;
                padding: 5px 10px 5px 7px;
                position: relative;
                .tweets {
                    float: right;
                    font-size: 11px;
                    font-style: italic;
                }
                .score {
                    background-position: 100% 50%;
                    background-repeat: no-repeat;
                    color: #FFFFFF;
                    float: left;
                    font-size: 18px;
                    font-weight: bold;
                    padding-right: 20px;
                }
                .percent {
                    background-position: 100% 50%;
                    background-repeat: no-repeat;
                    color: #FFFFFF;
                    float: left;
                    font-size: 18px;
                    font-weight: bold;
                    padding-right: 20px;
                    .percent-sign {
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 21px;
                        padding-left: 2px;
                        vertical-align: top;
                    }
                }
            }

            h4 {
                font-size: 12px;
                margin-top: 3px;
                overflow: hidden;
                position: relative;
                white-space: nowrap;
                .title{
                    color: #000000;
                    display: block;
                    font-weight: bold;
                }

            }
        }
    }
}

@mixin no_repeat_image($image){
    background-image: url($image);
    background-repeat: no-repeat;
}
.left-tweets {
    float: left;
    @include grid-width(4);
}

.tweet{
    @include grid-width(4);
    @include no_repeat_image($bubble-image);
    background-position: right top;
    height: 220px;

    img {
        margin-top: 20px;
        margin-left: 20px;
        padding-left: 8px;
        padding-top: 8px;
    }

    .message{

    }

    .expression {
    }
    .user{
    }

    .avatar {
    }
}

.love {
  @include no_repeat_image($love-image)
}

.hate {
  @include no_repeat_image($hate-image)
}
