$ninesixty-columns: 24;
$bubble-image: "/images/used/bubble1.png";

.container_24 {
   @include grid-system(24); 
}

@mixin no_repeat_image($image){
   background-image: url($image);
   background-repeat: no-repeat;
}

.clear {
   clear: both;
   display: block;
   height: 0;
   overflow: hidden;
   visibility: hidden;
   width: 0;
}

@mixin no_repeat_image($image){
    background-image: url($image);
    background-repeat: no-repeat;
}


#movies-page{
    height: 800px;
    background-color: #E8E8DC;
}

#movies{
    .rating-pod {
        background-color: #333333;
        border-radius: 0 0 6px 6px;
        color: #CCCCCC;
        margin: 1px;
        overflow: hidden;
        padding: 5px 10px 5px 7px;
        position: relative;
        .percent {
            background-position: 100% 50%;
            background-repeat: no-repeat;
            color: #FFFFFF;
            float: left;
            font-size: 18px;
            font-weight: bold;
            padding-right: 20px;
            span.sign {
                font-size: 12px;
                font-weight: normal;
                line-height: 28px;
                padding-left: 2px;
                vertical-align: top;
            }
        }
        .votes {
                float: right;
                font-size: 11px;
                font-style: italic;
                line-height: 28px;
        }
    }
    .title{
        color: #000000;
        display: block;
        font-weight: bold;    
    }

    .small-movie {
        padding-top : 10px;
        padding-bottom : 10px;
        padding-left: 0px;
        padding-right: 0px;
        .poster {
            img {
                display: block;
                height: 173px;
                width: 138px;
                
            }
            
        }
    }
}

#twitter-area {
    padding-top: 20px;
    background-color: #E8E8DC;
    overflow: auto;
   .bubble{
      background : url($bubble-image) no-repeat scroll left top transparent;
      min-height: 180px;
   }
   .poster{
      padding-bottom: 20px;
   }

   .tweet-text {
      padding-top: 25px;
      min-height: 110px;
      p {
         padding-left: 2px;
      }
   }
}

p.tweet-box {
    background: url("/images/used/twitter_logo_right.png") no-repeat scroll 20px 9px transparent
}
